<navbar></navbar>


<div class="container">
  <div class="row">
    <div class="col-lg-12">

    <div class="text-center"><i ng-show="pendingActions" class="fa fa-refresh fa-spin fa-2x nga-default nga-stagger nga-collapse"></i></div>

      <h1 class="page-header">Productos</h1>
      <div class="col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
        <div sdo-mercadolibre-products-tile-directive itemid="product" marketplaceconnectionid="marketplaceConnection._id">
      </div>
    </div>
  </div>
</div>

<footer></footer>
