<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Inicio de sesión</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Correo electrónico</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Por favor, introduzca su correo electrónico y contraseña.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Por favor introduzca una dirección de correo electrónico válida.
          </p>

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Iniciar sesión
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Registrar
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
