$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.pointer {
  cursor: pointer;
}

a.no-style:link {
    text-decoration: inherit;
    color: inherit !important;
    cursor: auto;
}

a.no-style:visited {
    text-decoration: inherit;
    color: inherit !important;
    cursor: auto;
}

.mt-10{
  margin-top: 10px;
}
.m-10{
  margin: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.cb {
  clear:both;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'mercadolibre-products/mercadolibre-products.scss';
@import 'mercadolibre-questions-dashboard/mercadolibre-questions-dashboard.scss';
@import 'mercadolibre-questions/mercadolibre-questions.scss';
@import 'mercadolibre/mercadolibre.scss';
@import '../components/footer/footer.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
