<div>
  <div class="thumbnail">
    <div class="image-wrapper" ng-class="{'background-dark': item.pictures.length}">
      <div ng-if="item.pictures.length" uib-carousel active="active" class="carousel">
        <div uib-slide ng-repeat="slide in item.pictures track by slide.id" index="$index" class="slide">
          <a href="#"><img ng-src="{{slide.url}}"></a>
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
            <p>{{slide.description}}</p>
          </div>
        </div>
      </div>
      <a href="#"><img ng-if="!item.pictures.length" ng-src="/assets/images/not-available.jpg"></a>
    </div>

    <div class="caption">
      <h3 class="mt-5">{{item.title}}</h3>
      <div class="col-md-12 p-0 features">
        <div class="form-group col-md-12">
          <label for="size">Preguntas</label>
          <div>
            <h2>
            <span ng-if="item.questions.all.length" class="label label-primary pointer m-10 text-center nga-default nga-stagger nga-fade" ng-click="showAllQuestions()">
            {{item.questions.all.length || 0}}
            </span>
            <span ng-if="item.questions.answered.length" class="label label-success pointer m-10 text-center nga-default nga-stagger nga-fade" ng-click="showAnsweredQuestions()">
            {{item.questions.answered.length || 0}}
            </span>
            <span ng-if="item.questions.unanswered.length" class="label label-warning pointer m-10 text-center nga-default nga-stagger nga-fade" ng-click="showUnansweredQuestions()">
            {{item.questions.unanswered.length || 0}}
            </span>
            </h2>
          </div>
          <label for="size">Precio</label>
          <div>
            <h2>
              <span ng-if="item.price" class="label label-success nga-default nga-stagger nga-fade">
              {{item.currency_id}} {{item.price | currency:'':0}}
              </span>
            </h2>
          </div>
        </div>
      </div>
      <div class="text-right">
        <hr class="cb"/>
        <a ng-href={{item.permalink}} target="_blank" class="no-style"><i class="fa fa-external-link"></i></a>
      </div>
    </div>
  </div>
</div>
