<div class="create-offer-modal">
  <form class="form-horizontal form-validation" role="form" name="form" ng-submit="submit()" novalidate>
    <div class="modal-header">
      <h3 class="modal-title">Preguntas <strong></strong></h3>

    </div>
    <div class="modal-body">
      <div class="col-lg-12">
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" ng-repeat="question in questions" class="{{question.status == 'ANSWERED'?'panel-greensea':'panel-danger'}}" is-open="question.isOpened">
              <uib-accordion-heading>
                {{$index+1}}. {{question.text}}
                <i class="pull-right fa" ng-class="{'fa-check-circle-o': question.status == 'ANSWERED', 'fa-clock-o': question.status == 'UNANSWERED',  'fa-chevron-down': question.status == 'UNANSWERED' && question.isOpened, 'fa-chevron-right': question.status == 'UNANSWERED' &&  !question.isOpened}"></i>
              </uib-accordion-heading>
              <div ng-if="question.answer">
                <span>{{question.answer.text}}</span>
              </div>
              <div ng-if="!question.answer" class="text-right">
                <div class="text-center" ng-show="question.findingSuggestions"><i class="fa fa-refresh fa-spin fa-2x nga-default nga-stagger nga-collapse"></i><br/>
Sugiriendo respuesta
                </div>
                <textarea ng-show="!question.findingSuggestions" rows="4" class="form-control" ng-model="question.new_answer"></textarea>
                <span ng-disabled="!question.new_answer.length" class="btn btn-warning mt-10" ng-click="validate(question)">Validar</span>
                <span ng-disabled="!question.new_answer.length" class="btn btn-primary mt-10" ng-click="answer(question)">Contestar</span>
                <div class="mt-10" ng-show="question.answer_feedback">
                  <div class="panel panel-danger" ng-show="question.answer_feedback.tooAngry || question.answer_feedback.tooSad">
                    <div class="panel-heading">
                      <h3 class="panel-title">¡Ten cuidado! Pareces estar</h3>
                    </div>
                    <div class="panel-body col-md-12 p-0 text-center">
                        <img ng-show="question.answer_feedback.tooSad" class="ml-10 mr-10" ng-src="/assets/images/unhappy.png" uib-tooltip="Triste"/>
                        <img ng-show="question.answer_feedback.tooAngry" class="ml-10 mr-10" ng-src="/assets/images/mad.png" uib-tooltip="Enojado"/>
                    </div>
                    <div class="cb"></div>
                  </div>
                  <div class="panel panel-success" ng-show="question.answer_feedback.littleHappy || question.answer_feedback.littleOpen || question.answer_feedback.littleAgreeableness">
                    <div class="panel-heading">
                      <h3 class="panel-title">Te recomendamos mostrar más</h3>
                    </div>
                    <div class="panel-body col-md-12 p-0 text-center">
                      <img class="ml-10 mr-10" ng-src="/assets/images/happy.png" uib-tooltip="Alegria"/>
                      <img class="ml-10 mr-10" ng-src="/assets/images/in-love.png" uib-tooltip="Apertura"/>
                      <img class="ml-10 mr-10" ng-src="/assets/images/wink.png" uib-tooltip="Empatía"/>
                    </div>
                    <div class="cb"></div>
                  </div>
                </div>
              </div>
          </div>
        </uib-accordion>
      </div>
      <div class="cb"></div>
    </div>
    <div class="modal-footer">
      <span ng-click="cancel()" class="btn btn-primary">Listo</span>
    </div>
  </form>
</div>
