<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Regístrate</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Nombre</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            El nombre es requerido
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Correo electrónico</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            No se ve como un correo electrónico válido.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            ¿Cuál es tu dirección de correo electrónico?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            La contraseña debe tener al menos 3 caracteres.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirmar contraseña</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Las contraseñas deben ser iguales
          </p>
        </div>


        <div class="form-group" ng-class="{ 'has-success': form.merchant.$valid && vm.submitted,
                                            'has-error': form.merchant.$invalid && vm.submitted }">
          <label>Tienda</label>

          <input type="text" name="merchant" class="form-control" ng-model="vm.user.merchant.name"
                 required/>
          <p class="help-block" ng-show="form.merchant.name.$error.required && vm.submitted">
            La tienda es requerida
          </p>
      </div>


        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Regístrate
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Iniciar sesión
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
