<div class="">

  <!-- page content -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3"></div>
      <!-- col -->
      <div class="col-md-6 col-md-offset-3">
        <!-- tile -->
        <section>

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 ng-show="action === 'create'" class="custom-font">Conectar a <strong>Mercadolibre</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <form role="form" name="form" ng-submit="submit()" novalidate class="form-validation">
              <fieldset  ng-disabled="disabled">
                <!-- Select Basic -->
                <div class="form-group">
                  <div>
                    <label for="season">Países</label>
                  </div>
                  <select id="country" name="country" class="form-control" ng-model="connection.countryCode" data-placeholder-text-single="Seleccione una opción"  ng-change="countryChanged()" no-results-text="Sin resultados que mostrar" chosen ng-options="country.code  as country.name for country in countries">
                    <option value=""></option>
                  </select>
                </div>
                <div class="cb"></div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <div class="text-right">
                    <a type="submit" ng-href="{{config.authUrl}}" class="btn btn-primary">Conectar</a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
