<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Conexiones</h1>
      
      <!-- tile body -->
        <div class="tile-body">
          <div class="row">
            <div class="col-md-12" ng-show="!connections.length && !pendingActions">
              <div class="alert alert-warning" role="alert">
                <strong>No tienes conexiones registradas!</strong> Puedes conectar con tu cuenta Mercado libre haciendo click <a ui-sref="mercadolibre.create" class="">aquí</a>. <strong>Funcionamos con distintos paises</strong>
              </div>
              <div class="alert alert-success" role="alert">
               <strong>Funcionamos en todos los países disponibles de Mercadolibre</strong>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="connection in connections">
              <div class="thumbnail">
                <img ng-if="connection.pictureUrl" ng-src="{{connection.pictureUrl}}">
                <img ng-if="!connection.pictureUrl" ng-src="/assets/images/not-available.jpg">
                <hr/>
                <div class="caption">
                  <div class="col-md-12 p-0 features">
                    <div><strong>{{connection.name}}</strong></div>
                    <div>
                      <span ng-if="connection.country === 'cl'">Chile</span>
                      <span ng-if="connection.country === 'ar'">Argentina</span>
                    </div>
                  </div>
                  <div class="text-right cb">
                    <a class="no-style" ui-sref="mercadolibre-questions-dashboard({ id: connection._id})"><i class="fa fa-comments fa-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center"><i ng-show="pendingActions" class="fa fa-refresh fa-spin fa-2x nga-default nga-stagger nga-collapse"></i></div>
        </div>





      <div class="text-right">
        <a ui-sref="mercadolibre.create" class="btn btn-primary ng-binding">Conéctate a Mercadolibre</a>
      </div>
    </div>
  </div>
</div>

